* {
	font-size: 16px;
	line-height: 1.6;
}

body {
	color: $grey;
	margin: 0;
	overflow-y: scroll;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

input {
	border: none;
	border-bottom: 1px solid $grey;
	padding: 2px 0;
	padding-left: 12px;
	font-weight: 600;
	font-size: 23px;

	&:focus-visible {
		outline: none;
		border-bottom: 1px solid $orange;
	}
}

.link {
	text-decoration: none;
	margin: 8px 2px;

	> span {
		font-size: 18px;
		padding: 4px;
		color: $grey;
		transition: 0.1s ease-out;

		@include from (m) {
			padding: 8px 12px;
		}

		&:hover {
			transition: 0.1s ease-out;
			color: $orange;
		}
	}
}

.link--large {
	margin: 20px;
	text-decoration: none;

	> span {
		font-size: 14px;
		padding-bottom: 8px;
		text-transform: uppercase;
		color: $grey;
		margin-right: 16px;
		transition: 0.1s ease-out;

		@include from(m) {
			font-size: 24px;
		}

		&:hover {
			transition: 0.1s ease-out;
			color: lightgrey;
		}
	}

	&:hover {
		> svg {
			transition: 0.1s ease-out;
			transform: translateX(10px);
			color: $orange;
		}
	}

	> svg {
		color: $grey;
	}

	padding: 2px;
}

p {
	padding-left: 8px;
}

.pager {
	margin-top: 50px;
	padding-top: 48px;

	&--info {
		padding-left: 12px;
		font-size: 18px;
	}

	&--button {
		text-decoration: none;
		background: unset;
		border: unset;
		color: $grey;
		outline: none;

		&.back:hover {
			> svg {
				transition: 0.1s ease-out;
				transform: translateX(-10px);
				color: $orange;
			}
		}
		
		&:hover {
			> svg {
				transition: 0.1s ease-out;
				transform: translateX(10px);
				color: $orange;
			}
		}
	}
}

.hidden {
	display: none;
}

.divider {
	border-bottom: 1px solid $grey;
}