@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}
h1,
h2 {
	font-size: 36px;
	max-width: 620px;

	@include from (m) {
		font-size: 48px;
	}
}

h3,
h4,
h5,
h6 {
	font-size: 24px;

	@include from (m) {
		font-size: 36px;
	}
}

p,
span,
a {
	font-weight: bold;
}