.affinity__nav {
    width: 100%;
    // Make this a var
    background-color: white;
    min-height: 72px;
    opacity: 0.7;
    position: fixed;

    &:hover {
        opacity: 1;
        transition: 0.1s ease-in-out;
    }

    &--items {
        display: block;
        margin-top: 4px;
    }

    &--item {

        &.launch {
            background-color: $orange;
            border-radius: 36px;
            padding: 8px 0;

            > a {
                color: $white;

                &:hover {
                    color: $orange;
                }
            }
        }

        display: inline-block;
        margin-top: 10px;
        margin-right: 24px;

        &:hover {
            transition: 0.2s ease-in-out;
            cursor: pointer;
            background-color: $white;
        }
    }

    &--link {
        text-decoration: none;
        text-transform: uppercase;
        color: $grey;
        letter-spacing: 6px;
    }

    &--text {
        font-size: 18px;
        padding: 12px;
    }
}