@keyframes fadeInTop {
  from {
     opacity: 0;
     transform: translateY(-100%);
  }
  to {
     opacity: 1;
     transform: translateY(0);
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media only screen and (min-width: 0px) and (max-width: 1024px) {
  div.splash.post {
    padding-top: 2rem !important;
    min-height: 100vh;
  }
  div.splash {
    border: unset;
    border-bottom: 2px solid #092327;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;

    width: 100% !important;
    max-height: 50vh;
    display: block;
    padding: 0 !important;
  }
  div.login {
    width: 95% !important;
    padding: 0 !important;
    min-height: 50vh;
    display: block;
    margin: 2rem auto;
    top: 50%;
    left: 0;
    right: 0;
  }
}

@media only screen and (max-width: 768px) {
  div.icons {
    width: 30px;
    height: 30px;
  }

  h1 {
    font-size: 2.5rem !important;
  }

  h2 {
    font-size: 2rem !important;
  }

  h3 {
    font-size: 1rem !important;
  }
}

h1 {
  font-size: 4rem;
  margin: 5px;
  color: #092327;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  display: inline-block;
}

li + li {
  padding-left: 12px;
}

.App {
  text-align: center;
  background-color: #FFFAFA;
}

.header {
  height: 50vh;
  position: relative;
  padding: 12px;
  background: rgb(255,200,0);
  background: linear-gradient(90deg, rgba(255,200,0,1) 25%, rgba(255,132,39,1) 100%);
  min-height: 300px;
  
  -webkit-animation: fadeInTop 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInTop 2s; /* Firefox < 16 */
   -ms-animation: fadeInTop 2s; /* Internet Explorer */
    -o-animation: fadeInTop 2s; /* Opera < 12.1 */
       animation: fadeInTop 2s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

.splash {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-right: 2px solid #092327;
  width: 48%;
  height:100vh;
  position: relative;
  padding: 12px;
  background: rgb(255,200,0);
  background: linear-gradient(90deg, rgba(255,200,0,1) 25%, rgba(255,132,39,1) 100%);
  min-height: 300px;
  
  -webkit-animation: fadeInTop 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInTop 2s; /* Firefox < 16 */
   -ms-animation: fadeInTop 2s; /* Internet Explorer */
    -o-animation: fadeInTop 2s; /* Opera < 12.1 */
       animation: fadeInTop 2s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

.splash.post {
  border-radius: unset !important;
  border: unset !important;
}

.links {
  position: relative;
  bottom: 0;
  margin: 20px;
}

a {
  text-decoration: none !important;
}

.track-display {
  margin: 100px auto;
  padding: 20px auto;
}

.intro {
  position: absolute;
  top: 33%;
  bottom: 33%;
  left: 0;
  right: 0;
}

.feature {
  margin: auto;
  max-width: 275px;
  background-color: #FFFAFA	;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.feature.analytics {
  margin: 2rem auto;
  max-width: 75% !important;
  max-height: 80vh;
  opacity: 0;
  transition-delay: 2s;

  animation-delay: 3s;
  -webkit-animation: fadeInBottom 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInBottom 2s; /* Firefox < 16 */
   -ms-animation: fadeInBottom 2s; /* Internet Explorer */
    -o-animation: fadeInBottom 2s; /* Opera < 12.1 */
       animation: fadeInBottom 2s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

.login {
  width: 45%;
  padding: 20px;
  margin:auto;
  position: absolute;
  right: 0;
  left: 50%;
  top: 17.5%;
  bottom: 17.5%;

  -webkit-animation: fadeInBottom 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInBottom 2s; /* Firefox < 16 */
   -ms-animation: fadeInBottom 2s; /* Internet Explorer */
    -o-animation: fadeInBottom 2s; /* Opera < 12.1 */
       animation: fadeInBottom 2s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

.home-button {
  background-color: #FF8427;
  border-radius: 12px;
  border: 2px solid #092327;
  width: 300px;
  margin: 25px auto;
  color: #092327;
  transition: 0.3s;
}

.home-button p {
  margin: 10px;
  font-size: 2rem;
  font-weight: bold;
}
.home-button:hover {
  background-color: #FFC800;
}


.icons {
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 30px;

  transition: 0.3s;
}

.icons:hover {
  transition: 0.3s;
  -webkit-transform: rotateZ(-30deg);
      -ms-transform: rotateZ(-30deg);
          transform: rotateZ(-30deg);
}

.github-icon {
  background-image: url('assets/img/github.svg');
}

.source-icon {
  background-image: url('assets/img/source.svg');
}

.spotify-icon {
  background-image: url('assets/img/spotify.svg');

}
